{# Display contact details #}

{# @param entry Entry The contact page entry #}

{% embed '_layouts/embeds/prose.twig' %}
    {% block content %}
        <dl class="space-y-4">
            {% set addresses = siteInfo.addresses.all %}
            {% if addresses %}
                {% for address in addresses %}
                    <div>
                        <dt class="font-semibold text-headings">{{ address.title }}</dt>
                        <dd>
                            {{ address.addressLine1 }}<br>
                            {% if address.addressLine2 %}
                                {{ address.addressLine2 }}<br>
                            {% endif %}
                            {% if address.addressLine3 %}
                                {{ address.addressLine3 }}<br>
                            {% endif %}
                            {{ address.postalCode }} {{ address.locality }}<br>
                            {{ craft.app.addresses.countryRepository.get(address.countryCode, currentSite.language).name }}
                            
                        </dd>
                    </div>
                {% endfor %}
            {% endif %}
            {% if siteInfo.phoneNumber %}
                <div>
                    <dt class="font-semibold text-headings">{{ "Phone number"|t }}</dt>
                    <dd class="flex">
                        <a href="tel:{{ siteInfo.phoneNumber }}"> {{ siteInfo.phoneNumber }} </a>
                    </dd>
                </div>
            {% endif %}
            {% if siteInfo.email %}
                <div>
                    <dt class="font-semibold text-headings">{{ "Email"|t }}</dt>
                    <dd class="flex">
                        <a href="mailto:{{ siteInfo.email }}"> {{ siteInfo.email }} </a>
                    </dd>
                </div>
            {% endif %}
        </dl>
    {% endblock %}
{% endembed %}

